.end_bar{
    height: 80px;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content:start;
    
    }

    .contact2,
    .about2,
    .policy2,
    .directory2{
    padding-top: 10px;
    margin-left: 15px;
    font-size: small;
    color: white;
    }


    
