.services{
    height: 40px;
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: space-evenly;
     margin-top: 25px;
}

.stat5,
.contact6,
.about6,
.policy6
{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.services_head{
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: -16px;
}


.services_note{
    padding-top: 1px;
    padding-left: 20px;
    font-size: medium;
    font-weight: 400;
}

.services_photos{
    display : flex;
    flex-wrap : wrap;
    margin-bottom : 80px;
    justify-content: start;
    margin-left: -32px
}

.image3{
    height: 300px;
    width: 400px;
    border-radius : 14px;
    margin-left : 60px;
    margin-top : 40px;
}












